.month-view-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 1rem 0 0 0;
    height: 100%;

    gap: .5rem;
}

.details-container {
    display: flex;
    flex: 1;
    flex-flow: column;


}

.header {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.schedules-container {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: solid 1px var(--color-1);

    display: flex;
    flex-flow: row wrap;

    gap: .8rem;

    /* width: 100%; */
}