<div class="month">
    <button>
        <span (click)="prevMonth()" class="button material-symbols-outlined">chevron_left</span>
    </button>

    <p>{{date | date:'MMMM'}} - {{date | date: 'Y'}}</p>

    <button>
        <span (click)="nextMonth()" class="button material-symbols-outlined">chevron_right</span>
    </button>
</div>

<div class="calendar-container">
    <div class="week-days month-grid">
        <span>Domingo</span>
        <span>Segunda</span>
        <span>Terça</span>
        <span>Quarta</span>
        <span>Quinta</span>
        <span>Sexta</span>
        <span>Sabado</span>
    </div>

    <div class="number-days month-grid">
        <span *ngFor="let day of days" [ngClass]="{'active': day.isToday}">{{day.day}}</span>
    </div>
</div>