.container {
    box-shadow: var(--box-shadow);
    height: 32rem;
    overflow-y: auto;
    padding: 1rem 0;
}

.container header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 1rem;
}

.container header .current-date {
    font-size: 1.45rem;
    font-weight: 300;
    text-transform: uppercase;
}

.calendar ul {
    display: flex;
    flex-flow: row wrap;

    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-top: 2rem;
}

.calendar li {
    width: calc(100% / 7);
    font-size: 1.25rem;

    font-weight: 300;
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: .625rem;

    height: 5rem;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    z-index: -1;

    transform: translate(-50%, -50%);

    transition: background .1s ease;
}


.days li:not(.active):hover::before {
    color: var(--color-white);
    background: var(--color-1);
}

.days li:not(.active):hover {
    color: var(--color-white);
    background: var(--color-1);
}