<div class="month-view-container">
    <div class="details-container">
        <div class="header">
            <app-search-bar /> Agendamentos do dia
        </div>
        <section class="schedules-container">
            <app-scheduling-item />
            <app-scheduling-item />
            <app-scheduling-item />
            <app-scheduling-item />
            <app-scheduling-item />
            <app-scheduling-item />
            <app-scheduling-item />
            <app-scheduling-item />
        </section>
    </div>
    <app-calendar />
</div>