<div class="container">

    <header>
        <button (click)="changeDate(-1)" class="button">
            <span class="material-symbols-outlined">chevron_left</span>
        </button>
        <p class="current-date">{{date | date: "MMMM"}} - {{date | date: "YYY"}}</p>
        <button (click)="changeDate(1)" class="button">
            <span class="material-symbols-outlined">chevron_right</span>
        </button>
    </header>

    <section class="calendar">
        <ul class="weeks">
            <li>Domingo</li>
            <li>Segunda</li>
            <li>Terça</li>
            <li>Quarta</li>
            <li>Quinta</li>
            <li>Sexta</li>
            <li>Sabado</li>
        </ul>

        <ul class="days">
            <li *ngFor="let date of dates">
                <p class="day-number">{{date.day}}</p>
                <p class="day-description">10 atendimentos</p>
            </li>
        </ul>

    </section>
</div>