/* Month header */
.month {
    padding: 1rem 5rem;
    width: 100%;
    /* background: var(--color-2); */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.month .button {
    font-size: 2rem;
    cursor: pointer;
}

/* calendar */
.calendar-container {
    text-align: center;
    /* background-color: #1abc9c; */

}

.week-days {
    margin-bottom: 2rem;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.number-days {
    grid-auto-rows: 5rem;

}

.day-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 1rem;

    cursor: pointer;
}

.day-title {
    /* align-self: flex-start; */

    font-weight: 300;
    opacity: 50%;
}


.day-container:hover {
    box-shadow: var(--box-shadow);
    background: var(--color-2);
    color: var(--color-black);
}

.week-day-1 .day-container:first-child {
    grid-column: 1;
}

.week-day-2 .day-container:first-child {
    grid-column: 2;
}

.week-day-3 .day-container:first-child {
    grid-column: 3;
}

.week-day-4 .day-container:first-child {
    grid-column: 4;
}

.week-day-5 .day-container:first-child {
    grid-column: 5;
}

.week-day-6 .day-container:first-child {
    grid-column: 6;
}

.week-day-7 .day-container:first-child {
    grid-column: 7;
}

.today {
    /* padding: 5px; */
    background: var(--color-success);
    color: var(--color-white);
}

.active:hover {
    /* padding: 5px; */
    background: var(--color-success);
    color: var(--color-black);
}