<div class="navbar-container">
    <a [routerLink]="['/agenda']">
        <img class="nav-logo" s src="assets/logo.png" alt="">
    </a>
    <div class="side right-side">

        <a *ngFor="let item of items" [routerLink]="[item.route]" class="nav-icon-field">
            <span class="icon material-symbols-outlined">{{item.materialIcon}}</span>
            <p class="icon-text">{{item.text}}</p>
        </a>

        <a (click)="logout()" class="nav-icon-field">
            <span class="icon material-symbols-outlined">logout</span>
            <p class="icon-text">Sair</p>
        </a>
    </div>
</div>