<div class="navbar-container">
    <a [routerLink]="['/agenda']">
        <img class="nav-logo" s src="assets/logo.svg" alt="">
    </a>
    <div class="side right-side">

        <a *ngFor="let item of items" class="nav-icon-field" routerLinkActive="link-item-active"
            [routerLink]="[item.route]">
            <span class="material-symbols-outlined">{{item.materialIcon}}</span>
            <p class="">{{item.text}}</p>
        </a>

        <button (click)="showUnits()" class="nav-icon-field">
            <span class="material-symbols-outlined">business</span>
            <p class="">Unidades</p>
        </button>

        <a (click)="logout()" class="nav-icon-field">
            <span class="menu-link material-symbols-outlined">logout</span>
            <p class="">Sair</p>
        </a>
    </div>
</div>