button {
    background: none;
    outline: none;
    border: none;
}

.navbar-container {
    background-color: var(--color-1);

    height: var(--navbar-height);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;

    /* box-shadow: var(--box-shadow); */

    position: fixed;

    z-index: 11;
}

.nav-logo {
    height: 3rem;
}

.side {
    display: flex;
    align-items: center;

    gap: 1rem;
}

.nav-icon-field {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    transition: color .2s ease;

    cursor: pointer;
}

.nav-icon-field span {
    font-size: 1.8rem;
}

.nav-icon-field p {
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .1rem;
}

.dialog-units-container {
    position: absolute;

    /* height: 100%;
    width: 100%; */

    z-index: 13;

    background: red;
}

.dialog-units {}