.navbar-container {
    background-color: var(--color-1);

    height: var(--navbar-height);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;

    box-shadow: var(--box-shadow);

    position: fixed;

    z-index: 2;
}

.nav-logo {
    height: 2rem;
}

.side {
    display: flex;
    align-items: center;

    gap: 2rem;
}

.nav-icon-field {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    transition: color .2s ease;
}

.nav-icon-field span {
    font-size: 2rem;
}

.nav-icon-field p {
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .2rem;
}

.nav-icon-field:hover {
    color: var(--color-white);
    transition: color .2s ease;
}