<div class="default-position">
    <div class="agenda-container">
        <div class="agenda-header">

            <div class="view-type">
                <button *ngIf="isAdmin()" class="button" (click)="changeActiveView(1)">Agenda</button>
                <button class="button" (click)="changeActiveView(3)">Profissionais</button>
                <button *ngIf="isAdmin()" class="button" [routerLink]="['novo-agendamento']">Novo</button>
            </div>
        </div>

        <div class="agenda-content">
            <app-dashboard-agenda *ngIf="activeView === 1" />
            <app-dashboard-profissionais *ngIf="activeView === 3" />
        </div>
    </div>
</div>