<div class="agenda-container">
    <div class="agenda-header">

        <div class="view-type">
            <button class="button" *ngIf="isAdmin" (click)="changeActiveView(1)">Agenda</button>
            <button class="button" (click)="changeActiveView(3)">Profissionais</button>
            <button class="button" *ngIf="isAdmin" [routerLink]="['novo-agendamento']">Novo</button>
        </div>
    </div>

    <div class="agenda-content">
        <app-dashboard-agenda *ngIf="activeView === 1" />
        <app-dashboard-profissionais *ngIf="activeView === 3" />
    </div>
</div>