<div class="month-view-container">
    <div class="header">
        <div class="header-date">
            <button (click)="onChangeDate(-1)">
                <span class="material-symbols-outlined">chevron_left</span>
            </button>
            <span>{{ this.agendaService.selectedDay$ | async | date}}</span>
            <button (click)="onChangeDate(1)">
                <span class="material-symbols-outlined">chevron_right</span>
            </button>
        </div>
        <button [ngClass]="{'active': showCalendar}" class="calendar-button" (click)="onShowCalendar()">
            <span class="icon material-symbols-outlined">calendar_month</span>
        </button>

    </div>

    <div class="content">
        <app-calendar *ngIf="showCalendar" (selectedDate)="onSelectedDate($event)" />
        <div class="schedules-container">
            <app-scheduling-item-card *ngFor="let agendamento of agendamentos" [agendamento]="agendamento" />
        </div>
    </div>

</div>