<div class="default-position">
    <div class="agendamento-detalhe-container">

        <div class="header">
            <a class="button-small align" [routerLink]="['/agenda']">
                <span class="material-symbols-outlined">chevron_left</span> Voltar
            </a>

            <div class="actions">
                <button class="button danger">Cancelar</button>
                <button class="button success">Confirmar</button>
            </div>
        </div>

        <div class="content">

            <div class="detail-container">
                <div class="detail-field">
                    <label>Nome</label>
                    <input type="text" name="nome" id="#nome" value="Maria Olivia" disabled>
                </div>
                <div class="detail-field">
                    <label>horario</label>
                    <input type="text" name="nome" id="#nome" value="10:30 - 11:45" disabled>
                </div>
                <div class="detail-field">
                    <label>Profissional</label>
                    <input type="text" name="nome" id="#nome" value="Leticia Oliveira" disabled>
                </div>
                <div class="detail-field">
                    <label>Serviço</label>
                    <input type="text" name="nome" id="#nome" value="Design com rena" disabled>
                </div>
                <div class="detail-field">
                    <label>Situação</label>
                    <input type="text" name="nome" id="#nome" value="Pendente" disabled>

                </div>
            </div>
        </div>
    </div>
</div>