<div class="default-position">
    <div class="container">
        <div class="header">
            <a [routerLink]="['/agenda']">
                <button class="button">Voltar</button>
            </a>

            <div class="action-container">
                <button class="button danger">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                    Cancelar
                </button>
                <button class="button success">
                    <span class="material-symbols-outlined">
                        done
                    </span>
                    Confirmar
                </button>
            </div>

        </div>

        <div class="content">
            <div class="detail-container">

                <div class="detail-line">
                    <h2 class="field">Cliente</h2>
                    <h2 class="value">Maria Alice</h2>
                </div>

                <div class="detail-line">
                    <h2 class="field">Horário do atendimento</h2>
                    <h2 class="value">10:30 - 11:30</h2>
                </div>

                <div class="detail-line">
                    <h2 class="field">Profissional responsável</h2>
                    <h2 class="value">Leticia Oliveira</h2>
                </div>

                <div class="detail-line">
                    <h2 class="field">Serviço</h2>
                    <h2 class="value">Design com rena</h2>
                </div>
                <div class="detail-line">
                    <h2 class="field">Status do atendimento</h2>
                    <h2 class="value">Pendente</h2>
                </div>
            </div>
        </div>
    </div>
</div>