<div class="default-position">
    <div class="agendamento-detalhe-container">

        <div class="header">
            <a class="button-small align" [routerLink]="['/agenda']">
                <span class="material-symbols-outlined">chevron_left</span> Voltar
            </a>
        </div>

        <div class="content">

            <form class="form-container">
                <div class="form-field">
                    <label>Nome</label>
                    <input type="text" name="nome" id="#nome" value="Maria Olivia" disabled>
                </div>
                <div class="form-field">
                    <label>horario</label>
                    <input type="text" name="nome" id="#nome" value="10:30 - 11:45" disabled>
                </div>
                <div class="form-field">
                    <label>Profissional</label>
                    <input type="text" name="nome" id="#nome" value="Leticia Oliveira" disabled>
                </div>
                <div class="form-field">
                    <label>Serviço</label>
                    <input type="text" name="nome" id="#nome" value="Design com rena" disabled>
                </div>
                <div class="form-field">
                    <label>Situação</label>
                    <input type="text" name="nome" id="#nome" value="Pendente" disabled>

                </div>
            </form>
        </div>
    </div>
</div>