.agendamento-detalhe-container {
    padding: 1rem 2rem;
}

.header {
    border-bottom: solid 1px var(--color-1);
    padding-bottom: .5rem;
}

.align {
    display: flex;
    align-items: center;
    width: 5rem;
}