.month-wrapper {
    box-shadow: var(--box-shadow);
    overflow-y: auto;
    padding: 1rem 0;
    width: 100%;
    height: 25rem;
    max-width: 40rem;

    margin-bottom: 1rem;

    background: var(--color-2);

}

.month-wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 1rem;
}

.month-wrapper header .current-date {
    font-size: 1.45rem;
    font-weight: 300;
    text-transform: uppercase;
}

.calendar ul {
    display: flex;
    flex-flow: row wrap;

    list-style: none;
    text-align: center;
}

.calendar li {
    width: calc(100% / 7);
    font-weight: 300;
}

.calendar .weeks li {
    cursor: default;
    opacity: 60%;
    font-size: 1.2rem;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 2rem;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    z-index: -1;

    transform: translate(-50%, -50%);

    transition: background .1s ease;
}

.calendar .days li.inactive {
    opacity: 50%;
    cursor: default;

}

.days li.today::before {
    background: var(--color-2);
}

.days li.selected::before {
    background: var(--color-1);
    color: var(--color-white);
}

.days li.selected {
    color: var(--color-white);
}

.days li:not(.inactive):hover::before {
    background: var(--color-1);
}

.days li:not(.inactive):hover {
    color: var(--color-white);
}