<div class="form-box">
    <form [formGroup]="form" class="form">
        <span class="title">Increva-se</span>
        <span class="subtitle">Crie uma conta gratis com seu e-mail e telefone</span>
        <div class="form-container">
            <div class="form-line">
                <input formControlName="firstName" type="text" class="input" placeholder="Nome">
                <input formControlName="lastName" type="text" class="input" placeholder="Sobrenome">
            </div>
            <input formControlName="emailAddress" type="email" class="input" placeholder="Email">
            <input formControlName="phoneNumber" type="email" class="input" placeholder="Telefone DDD + numero">
            <input formControlName="password" type="password" class="input" placeholder="Senha">
        </div>
        <button (click)="submit()" [disabled]="!form.valid">Criar conta</button>
    </form>
    <div class="form-section">
        <p>Possui conta? <a [routerLink]="['/login']">Entrar</a> </p>
    </div>
</div>