.container {
    height: 100%;
    overflow: hidden;
    padding: 1rem 1rem;
}

.header {
    padding-bottom: 1rem;
}

.content {
    border-top: solid 1px var(--color-1);
    overflow-y: auto;
    height: calc(var(--app-height) - (var(--navbar-height) + 5rem));
}