.novo-agendamento-container {
    padding: 1rem 2rem;
}


.header {
    border-bottom: solid 1px var(--color-1);
    padding-bottom: .5rem;

    display: flex;
    justify-content: space-between;
}

.content {
    padding: 2rem 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}