<div class="default-position">
    <div class="agenda-container">
        <div class="agenda-header">

            <div class="view-type">
                <button class="button" (click)="changeActiveView(1)">Geral</button>
                <button class="button" (click)="changeActiveView(3)">Dia</button>
                <button class="button" [routerLink]="['novo-agendamento']">+ agendamento</button>
            </div>
        </div>

        <div class="agenda-content">
            <app-month-view-page *ngIf="activeView === 1" />
            <app-day-view *ngIf="activeView === 3" />
        </div>
    </div>
</div>