.agenda-container {
    height: 100%;
    overflow: hidden;
    padding: 1rem 1rem;
}

.agenda-header {
    padding-bottom: 1rem;
}

.view-type {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.agenda-content {
    border-top: solid 1px var(--color-1);

}