.agenda-container {
    box-shadow: var(--box-shadow);
    margin: 0 auto;
    height: 100%;

    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;

    padding: 1rem 2rem;
}

.agenda-header {
    display: flex;
    justify-content: space-around;

    flex: 0;

    padding-bottom: 1rem;

}

.view-type {
    display: flex;
    gap: 1rem;
}

.agenda-content {
    border-top: solid 1px var(--color-1);
    flex: 1;

}