.agenda-container {
    padding: 1rem 0;
}

.agenda-card {
    box-shadow: var(--box-shadow);

    margin: 0 auto;
    width: 90%;

    height: 100%;

    /* background: var(--color-6); */
}

.agenda-header {
    display: flex;
    justify-content: space-around;
}

.agenda-content {
    border-top: solid 1px var(--color-black);
    /* height: 100%; */
}