<div class="default-position agenda-container">
    <div class="agenda-card">
        <div class="agenda-header">
            <button class="button">Novo agendamento</button>

            <div class="view-type">
                <button class="button">Mês</button>
                <button class="button">Semana</button>
                <button class="button">Dia</button>
            </div>
        </div>

        <div class="agenda-content">
            <ng-container>
                <app-month-view />
            </ng-container>
        </div>
    </div>
</div>