<div class="message-container" *ngIf="this.service.getMessages().length">

    <div class="message-card" *ngFor="let message of this.service.getMessages(); let i = index"
        [ngClass]="{'danger': !message.success, 'success': message.success}">
        <button class="button-close" (click)="onClose(i)">
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
        <h2>{{message.title}}</h2>

        <div class="message-items" *ngFor="let notification of message.notifications">
            <h3>{{notification.message}}</h3>
        </div>
    </div>
</div>