<div *ngIf="this.service.getMessages().length" class="message-container">

    <div *ngFor="let message of this.service.getMessages(); let i = index"
        [ngClass]="{'danger': !message.success, 'success': message.success}" class="message-card">
        <button class="button-close" (click)="onClose(i)">
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
        <h2>{{message.title}}</h2>

        <div *ngFor="let notification of message.notifications" class="message-items">
            <h3>{{notification.message}}</h3>
        </div>
    </div>
</div>