.modal-container {
    background: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 12;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;

    overflow-y: auto;

    height: var(--app-height);

    padding: 4rem;
}

.form-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

}

.form-field {
    border-radius: 5px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1rem;

    box-shadow: var(--box-shadow);
}

.active {
    background: var(--color-2);
}