<div [ngClass]="{'active-sidebar': showSideBar}" class="sidebar-container">

    <button [ngClass]="{'active-sidebar': showSideBar}" class="active-side-bar" (click)="changeShow()">
        <span class="material-symbols-outlined menu-item">
            {{showSideBar ? "close" : "menu"}}
        </span>
    </button>

    <div [ngClass]="{'active-sidebar': showSideBar}" class="sidebar-menu-items">

        <ng-container *ngFor="let item of items">
            <a [routerLink]="[item.route]" routerLinkActive="link-item-active" class="menu-item-field">
                <span class="material-symbols-outlined menu-item">
                    {{item.materialIcon}}
                </span>
                <p>{{item.text}}</p>
            </a>
        </ng-container>

    </div>
</div>