.sidebar-container {

    background: var(--color-1);
    height: calc(100% - var(--navbar-height));
    width: var(--sidebar-min-width);

    position: fixed;
    top: var(--navbar-height);

    text-align: center;

    transition: width .3s ease;

    z-index: 10;
}

.active-side-bar {
    background: none;
    border: none;
    outline: none;
}

.active-side-bar span {
    font-size: 2rem;
}

.sidebar-menu-items {
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    padding-top: 3rem;

    gap: 1rem;
}

.menu-item-field {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    gap: 1rem;

    transition: color .2s ease;
}

.menu-item-field span {
    font-size: 2rem;
}

.menu-item-field p {
    display: none;
}


/* active sidebar */
.sidebar-container.active-sidebar {
    width: var(--sidebar-max-width);
    transition: width .3s ease;
}

.sidebar-menu-items.active-sidebar .menu-item-field p {
    display: block;
    transition: display .4s ease;
}

.menu-item-field.active-sidebar {
    color: var(--color-white);
    transition: color .2s ease;
}

.link-active {
    color: var(--color-white);
}