<div class="default-position">

    <div class="prestador-container">
        <div class="header-container">
            <app-search-bar />
        </div>

        <div class="content-container">
            <div class="items-container">

                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>
                <div class="item-container">
                    <p class="nome-cliente">nome do prestador</p>
                    <a class="item-link" [routerLink]="['/prestadores', 'prestador-id']">
                        <span>Ver detalhes</span>
                    </a>
                </div>

            </div>
        </div>
    </div>


</div>