<div class="month-view-container">
    <div class="details-container">
        <div class="header">
            <app-search-bar /> - Agendamentos do dia <span>{{day | date}}</span>
        </div>
        <section class="schedules-container">
            <app-scheduling-item [agendamentoId]="1" />
            <app-scheduling-item [agendamentoId]="2" />
            <app-scheduling-item [agendamentoId]="3" />
            <app-scheduling-item [agendamentoId]="4" />
            <app-scheduling-item [agendamentoId]="5" />
        </section>
    </div>
    <app-calendar />
</div>