.month-view-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 1rem 0 0 0;


    gap: .5rem;
}

.details-container {
    display: flex;
    flex: 1;
    flex-flow: column;
}

.header {
    font-weight: 300;
}

.header span {
    font-weight: 600;
}

.schedules-container {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: solid 1px var(--color-1);

    display: flex;
    flex-flow: row wrap;

    gap: .8rem;

    max-height: 65vh;

    overflow-y: auto;
}