.month-view-container {
    padding: 1rem 0 0 0;
}

.header {
    font-weight: 300;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header span {
    font-size: 1.2rem;
}

.header .icon {
    font-size: 1.8rem;

    padding: .2rem;

    border: solid 1px var(--color-1);
    border-radius: 50%;

    box-shadow: var(--box-shadow);
}

.schedules-container {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: solid 1px var(--color-1);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    gap: 1rem;

    max-height: calc(var(--app-height) - (var(--navbar-height) + 8rem));

    overflow-y: auto;

    padding-bottom: 1rem;
}