<div class="month-view-container">
    <div class="header">
        <span>{{ day | date}}</span>

        <button [ngClass]="{'active': showCalendar}" class="calendar-button" (click)="changeShowCalendar()">
            <span class="icon material-symbols-outlined">calendar_month</span>
        </button>

    </div>

    <div class="content">
        <app-calendar [showCalendar]="showCalendar" />
        <div class="schedules-container">
            <app-scheduling-item-card *ngFor="let agendamento of agendamentos" [agendamento]="agendamento" />
        </div>
    </div>

</div>