.container-input {
    position: relative;
    display: inline;
}

.input {
    width: 100%;
    padding: .620rem 0px .620rem 2.5rem;
    border-radius: 5px;
    border: solid 1px var(--color-1);
    outline: none;

}