.message-container {
    background: rgba(255, 255, 255, 0.933);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 12;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;

    overflow-y: auto;

    height: var(--app-height);

    padding: 4rem;
}

.message-card {
    border-radius: 5px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    box-shadow: var(--box-shadow);
}

.button-close {
    align-self: flex-end;

}

.button-close span {
    font-weight: bold;
}

.message-card h2 {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}

.message-card h3 {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.danger {
    background: rgb(253, 243, 242);
    color: var(--color-danger);
}

.success {
    background: rgb(242, 253, 242);
    color: var(--color-success);
}