.scheduling-item-container {
    border: 1px solid var(--color-1);
    padding: .5rem 1rem;

    box-shadow: var(--box-shadow);
    /* cursor: pointer; */
    /* transition: all .2s ease; */

    width: 25rem;
}

.nome-cliente {
    font-size: 1.3rem;
    font-weight: 400;
}

.horario-agendamento {
    font-size: 1rem;
    font-weight: 300;
}

.scheduling-item-link {
    color: var(--color-1);
    text-decoration: underline;
    font-size: .8rem;
}

/* .scheduling-item-container:hover {
    color: var(--color-white);
    background: var(--color-1);
} */