.scheduling-item-container {
    border: 1px solid var(--color-1);
    padding: .5rem 1rem;

    box-shadow: var(--box-shadow);

    width: 15rem;
}

.nome-cliente {
    font-size: 1.2rem;
    font-weight: 400;
}

.horario-agendamento {
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.scheduling-item-link {
    color: var(--color-1);
    text-decoration: underline;
    font-size: .8rem;
}